.btn {
    background-color: #80461d !important;
    border: none;
    border-radius: 10px;
    width: 130px;
    font-family: "Courier New";
}

#loginBtn, #signupBtn{
   width: auto;
   }

.btn:hover {
    background-color: #5c3113 !important;
    border: none;
    }

.modal-content {
    font-family: "Courier New";
    background-color: #f5a962;
    border-radius: 20px;
    color: white;
}

label {
    color: #80461d;
    font-weight: bold;
    display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 18px;
    }

input {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 240px;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    color: green;
    }

button.close {
    color: white;
    font-weight: bold;
    }

button.close:hover {
    color: #5c3113;
    }

#app_greeting {
    color: #80461d;
    font-size: 39px;
    font-family: "Courier New";
    }

.recipe-card {
    width: 330px;
    font-family: "Courier New";
    background-color: #5c3113;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    color: white;
    }

.recipe-card:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.9);
    }

.video {
    height: 220px;
    text-align: center;
    }

.recipe-text {
    font-weight: bold;
    margin: 0 20 0 20;
    }

div#recipe-title {
    padding-left: 10px;
    float: left;
    }

div#recipe-time {
    padding-right: 10px;
    float: right;
    font-weight: bold;
    }

div#recipe-desc {
    padding-left: 10px;

    }

div#recipe-written {
    padding-left: 10px;
    padding-bottom: 15px;
    }

div a {
    color: #fad49b;
    text-decoration: none;
    border-bottom: #fad49b 3px solid;
    }

div a:hover {
    color: white;
    text-decoration: none;
    border-bottom: white 3px solid;
    }

span#recipe-veg {
    float: right;
    padding-right: 10px;
    }

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
    display: block;
    }

div#recipe-veg {
    margin-left: 20px;
    }

div#recipe-veg img {
    border-radius: 3px;
    margin-left: 10px;
    width: 30px;
    height: 25px;
    display: inline-block;
    }