.btn {
    background-color: #80461d !important;
    border: none;
    border-radius: 10px;
    width: 130px;
    font-family: "Courier New";
    margin: 0 10px;
}

#loginBtn, #signupBtn{
   width: auto;
   }

.btn:hover {
    background-color: #5c3113 !important;
    border: none;
    }

.modal-content {
    font-family: "Courier New";
    background-color: #f5a962;
    border-radius: 20px;
    color: white;
}

div#recipeModal .modal-content {
    width: 600px;
    color: #5c3113;
    }

#recipeBtn {
    cursor: pointer;
    }

label {
    color: #80461d;
    font-weight: bold;
    display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 18px;
    }

input {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 240px;
    padding: 10px 15px;
    margin: 10px 5px;
    box-sizing: border-box;
    color: green;
    }

button.close {
    color: white;
    font-weight: bold;
    }

button.close:hover {
    color: #5c3113;
    }

#app_greeting {
    color: #80461d;
    font-size: 39px;
    font-family: "Courier New";
    margin: 0px 20px 20px 20px;
    }

.recipe-card {
    width: 330px;
    font-family: "Courier New";
    background-color: #5c3113;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    color: white;
    }

.recipe-video {
    position: relative;
    }

.recipe-card:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.9);
    }

.overlay {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    }

.icon {
    color: red;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.icon:hover {
    color: white;
    }

.recipe-text {
    font-weight: bold;
    margin: 0 20 0 20;
    }

div#recipe-title {
    padding-left: 10px;
    float: left;
    }

div#recipe-time {
    padding-right: 10px;
    float: right;
    font-weight: bold;
    width: auto;
    }

div#recipe-desc {
    padding-left: 10px;

    }

div#recipe-written {
    padding-left: 10px;
    padding-bottom: 15px;
    }

div#recipe-written a {
    color: #fad49b;
    text-decoration: none;
    border-bottom: #fad49b 3px solid;
    }

div#recipe-written a:hover {
    color: white;
    text-decoration: none;
    border-bottom: white 3px solid;
    }

span#recipe-veg {
    float: right;
    padding-right: 10px;
    }

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px 20px 0 0;
    display: block;
    }

div#recipe-veg {
    margin-left: 20px;
    }

div#recipe-veg img {
    border-radius: 3px;
    margin-left: 10px;
    width: 30px;
    height: 25px;
    display: inline-block;
    }

#nav_bar {
    border-bottom: 2px solid #f0af69;
    box-shadow: 0px 3px 0 #f0af69;
    }

.navbar-brand.mb-0{
    margin-right: 130px;
    font-size: 36px;
    color: #80461d;
    }

.navbar-brand.mb-0:hover {
    color: #5c3113;
    }

.nav-link {
    font-size: 24px;
    margin: 0 20px;
    }

.nav-link:hover {
    color: #80461d !important;
    }

#login-buttons {
    margin-left: 230px;
    }

.dropdown-item:hover {
    color: #5c3113;
    background-color: white;
    }

