<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dora bakes -- Decadent baking</title>

    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %} {# calling bootstrap before custom styles allows over-riding BS styles #}
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel = "stylesheet" type="text/css" href="../static/bakery/style.css">
    <link rel= "shortcut icon" type='image/png' href="../static/favicon/favicon.png" />
</head>
<body>
    <div class="bakery">

        <div id="nav_bar">
          <b-navbar toggleable="lg" type="light"  prop="sticky">
            <b-navbar-brand tag="h1" href="#" class="mb-0">Dora Bakes</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav>
                <b-nav-item href="#">Sweet</b-nav-item>
                <b-nav-item href="#">Savory</b-nav-item>
              </b-navbar-nav>

              <b-navbar-nav id="favorite">
                  <a href="#"> <img width= 30px height=30px id="favorite_heart" v-bind:src="'static/images/favorites.png'"/></a>
              </b-navbar-nav>

              <b-navbar-nav id="login-buttons">
                <b-button id="loginBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                  Login
                </b-button>

                <b-button id="signupBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
                  Sign Up
                </b-button>
              </b-navbar-nav>
              <!-- Right aligned nav items -->
              <b-navbar-nav class="ml-auto">

                <b-nav-item-dropdown right>
                  <!-- Using 'button-content' slot -->
                  <template v-slot:button-content>
                    <b-avatar></b-avatar>
                  </template>
                  <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </div>

        <div class="sidebar">
            <div class="filter_title"> Cooking time </div>
            <form action="">
              <input type="checkbox" id="time_range1" name="time_range1" value="0-30">
              <label for="time_range1" class="filter_text"> 0 - 30 minutes</label>
              <input type="checkbox" id="time_range2" name="time_range2" value="30-60">
              <label for="time_range2" class="filter_text"> 30 minutes - 60 minutes</label>
              <input type="checkbox" id="time_range3" name="time_range3" value="60-90">
              <label for="time_range3" class="filter_text"> 60 minutes - 90 minutes</label>
              <input type="checkbox" id="time_range4" name="time_range4" value=">90">
                <label for="time_range4" class="filter_text"> Over 90 minutes </label></br>
              <input class="filter_btns" type="submit" value="Apply">
              <input class="filter_btns" type="button" value="Clear">
            </form>
            </br>
            <div class="filter_title"> Includes egg? </div>
            <form action="">
              <input type="radio" id="answer1" name="egg_answer" value="Yes">
              <label for="answer1" class="filter_text"> Yes</label>
              <input type="radio" id="answer2" name="egg_answer" value="No">
              <label for="answer2" class="filter_text"> No </label> </br>
              <input class="filter_btns" type="submit" value="Apply">
              <input class="filter_btns" type="button" value="Clear">
            </form>
        </div>

    <div id="main_app">
        <div id="app_greeting">
          [[ message ]]
        </div>
        </br>
        {% include "./_modal.html" %}

        <div class="recipe_card_container">
        <recipe-card></recipe-card>
        </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $("#loginBtn").modalForm({
            formURL: "{% url 'login' %}",
            modalID: "#loginModal"
          });

        $("#signupBtn").modalForm({
            formURL: "{% url 'signup' %}",
            modalID: "#signupModal"
          });

        $("#recipeBtn").modalForm({
            formURL: "{% url 'written-recipe' %}",
            modalID: "#recipeModal"
          });
       });
    </script>

    <!-- Vue.js integration -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>


    <!-- template -->
    <template id="recipeCard">
        <div class="recipe-card">
            <div class="recipe-video">
                <img v-bind:src="'static/images/brownie.png'" alt="brownie"/>
                <div class="overlay">
                    <a href="https://www.youtube.com/watch?v=Z1OLG7F3HD4" class="icon" title = "YT Play">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
            </br>

            <div>
                <div class="recipe-text">
                    <div id="recipe-title"> Decadent Brownies </div>
                    <div id="recipe-veg"><img v-bind:src="'static/images/non-veg.png'" alt="veg-indicator"/></div>
                </div>
                </br>
                <div>
                    <div id="recipe-desc"> The best brownies you will ever eat!</div>
                </div>
            </div>

            </br>
            <div id="recipe-written">
                <a id="recipeBtn"> Written recipe </a>
                <div id="recipe-time"><i style="font-size: 21px;" class="fa fa-clock-o" title="clock"></i><span> 45 mins </span>
                </div>
            </div>

        </div>
    </template>

    <!-- component registration -->
    <script>
    recipeCard = Vue.component('recipe-card', {
        data: function() {
            return { }
            },
        template: '#recipeCard',
    });
    </script>


    <script>
        var nav_bar = new Vue({ el: '#nav_bar' });

        var bakery = new Vue({
            el: "#app_greeting",
            data: {
                message: "Welcome to Dora Bakes!"
            },
            delimiters : ['[[', ']]']
        })

        var main_app = new Vue({
            el: "#main_app",
            data: {},
            delimiters : ['[[', ']]']
        })

    </script>

</body>
</html>