
<script src="https://unpkg.com/vue"></script>

<!-- template -->
<template id="recipeCard">
    <div class="recipe-card">
        <div class="video">

        </div>

        <div class="recipeTitle">
            <span> Brownie recipe </span>
            <span> The best brownies you will ever eat!</span>
            <span> Cooking time: 45 minutes </span>
        </div>

        <a href=""> Written recipe </a>

        <img src="" alt="brownie"/>

    </div>
</template>


<!-- component registration -->
<script>
    recipeCard = Vue.component('recipe-card', {
        data: function() {
            return 0
            },
        template: '#recipeCard',
    });
</script>
