{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

        <div class="modal-header">
            <h2  class="modal-title"><strong>{{ recipe.title }}</strong></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <h4> Ingredients: </h4>
            <p>
<!--                <ul>-->
<!--                    <li>Semi-sweet dark chocolate 200 grams</li>-->
<!--                    <li>Butter 1/2 cup (115 grams)</li>-->
<!--                    <li>Granulated sugar 1 cup</li>-->
<!--                    <li>Brown sugar 1/2 cup</li>-->
<!--                    <li>Eggs 3 medium size</li>-->
<!--                    <li>Salt 1/4 tsp</li>-->
<!--                    <li>Vanilla essence 1 tsp</li>-->
<!--                    <li>All-purpose flour 1/2 cup</li>-->
<!--                    <li>Cocoa powder 1/4 cup</li>-->
<!--                </ul>-->
                {{ recipe.ingredients }}
            </p>
            <h4> Method: </h4>
            <p>
                {{ recipe.method }}
            </p>
        </div>



</body>
</html>