{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

        <div class="modal-header">
            <h2  class="modal-title"><strong>Decadent brownies</strong></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <h4> Ingredients: </h4>
            <p>
                <ul>
                    <li>Semi-sweet dark chocolate 200 grams</li>
                    <li>Butter 1/2 cup (115 grams)</li>
                    <li>Granulated sugar 1 cup</li>
                    <li>Brown sugar 1/2 cup</li>
                    <li>Eggs 3 medium size</li>
                    <li>Salt 1/4 tsp</li>
                    <li>Vanilla essence 1 tsp</li>
                    <li>All-purpose flour 1/2 cup</li>
                    <li>Cocoa powder 1/4 cup</li>
                </ul>
            </p>
            <h4> Method: </h4>
            <p>
                First, grease a 7×7-inch dark metal pan with melted butter and line with parchment paper, leaving overhang on all sides.
                Then preheat your oven at 350℉ (180℃).
                Now take a little water in a saucepan and bring it to a simmer.
                In the meantime cut the chocolate into small pieces and place them in a heat resistant bowl.
                Now place the bowl on top of the simmering water making sure that the bottom of the bowl isn’t touching the water.
                Then add 1/2 cup of butter to the bowl.
                Now whisk the chocolate and the butter together until melts.
                After the chocolate completely melts and becomes smooth, take it off the heat and let it cool.
                In the meantime, in a separate bowl, take both the sugar.
                Now add 1 egg at a time and mix properly using a hand whisk.
                When the mixture is a little creamy add the salt, the vanilla essence, and the cooled chocolate and butter mixture.
                Mix everything well. The batter will have a thicker consistency.
                Finally, sift the flour and the cocoa powder into the bowl and carefully fold them into the mixture using a spatula.
                Now pour the batter into the prepared baking pan then gently shake and tap the tin couple of times to spread the batter evenly.
                Bake it in preheated oven for about 30 minutes.
                When your brownie is baked take it out of the oven and let it cool for at least 15 minutes.
                Now slice them into 9 squares and enjoy your warm fudgy brownies.
            </p>
        </div>



</body>
</html>